<div class="container" style="margin: 0 auto;">

  <h2 class="text-center p-4 mt-4">Books Table</h2>

  <table class="table">
    <thead class="table-primary">
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Book ID</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Sale</th>
      <th class="text-center" scope="col">Action</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="
      let book of getBooks();
      let i = index;
    ">
      <th scope="row">{{i+1}}</th>
      <td>{{book.bid+1000}}</td>
      <td>{{book.title}}</td>
      <td>{{book.price}}</td>
      <td>{{book.sale}}</td>
      <td class="text-center">
        <!-- use ActivatedRoute class for retrieve tid param on path // routerLink="/editing/{{tutorial.tid}}" -->
        <!-- new path just use / -->
        <button  class="btn btn-sm btn-success p-2 m-lg-1"  routerLink="/edit/{{book.bid}}">Edit</button>
        <!-- when clicked it had sent delete method for delete by pk //  (click)="delete(tutorial.tid , i)" -->
        <button class="btn btn-sm btn-warning p-2" (click)="delete(book.bid , i)" >Delete</button>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="5"></td>
      <td class="text-center">
        <button class="btn btn-sm btn-danger p-2" >Delete All</button>
      </td>
    </tr>
    </tfoot>

  </table>

</div>
